<section class="section has-background-dark">
    <div class="container">
        <!-- Main container -->
        <form novalidate name="searchForm">

            <nav class="level">
                <!-- Left side -->
                    <div class="level-left">
                        <div class="level-item">
                            <div class="field">
                                <label class="label has-text-light">ประกาศ</label>
                                <p class="control" style="padding:6px 0px;">
                                    <label class="checkbox has-text-light" style="margin-right:5px;">
                                        <input type="checkbox" ng-model="Ctrl.searchCriteria.sell">
                                        ขาย
                                    </label>
                                    <label class="checkbox has-text-light" style="margin-right:5px;">
                                        <input type="checkbox" ng-model="Ctrl.searchCriteria.rent">
                                        เช่า
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="field">
                                <label class="label has-text-light">ประเภท</label>
                                <div class="select">
                                    <select ng-model="Ctrl.searchCriteria.realEstateType">
                                        <option ng-value="false">เลือกประเภท</option>
                                        <option ng-value="realEstateType" ng-repeat="realEstateType in Ctrl.realEstateTypes">{{realEstateType}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="field">
                                <label class="label has-text-light">ค้นหาข้อความ</label>
                                <p class="control">
                                    <input class="input" ng-model="Ctrl.searchCriteria.freeText" type="text" name="freeText" placeholder="ค้นหาข้อความ">
                                </p>
                            </div>
                        </div>

                        <div class="level-item">
                            <div class="field">
                                <label class="label has-text-light">จังหวัด</label>
                                <div class="select">
                                    <select ng-model="Ctrl.searchCriteria.province">
                                        <option ng-value="false">เลือกจังหวัด</option>
                                        <option ng-value="province" ng-repeat="province in Ctrl.provinces">{{province}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="level-item">
                            <div class="field">
                                <label class="label has-text-light">ราคาเริ่ม</label>
                                <div class="control">
                                    <input class="input" ng-model="Ctrl.searchCriteria.priceFrom" type="number" name="priceFrom" placeholder="ราคาเริ่ม">
                                </div>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="field">
                                <label class="label has-text-light">ราคาสิ้นสุด</label>
                                <div class="control">
                                    <input class="input" ng-model="Ctrl.searchCriteria.priceTo" type="number" name="priceTo" placeholder="ราคาสิ้นสุด">
                                </div>
                            </div>
                        </div>

                        <div class="level-item">
                            <div class="field is-grouped" style="padding-top:32px;">
                                <div class="control">
                                    <button class="button is-dark has-text-light" ng-click="Ctrl.reset()">รีเซต</button>
                                </div>
                                <div class="control">
                                    <button class="button is-link" ng-click="Ctrl.search()">ค้นหา</button>
                                </div>
                            </div>
                        </div>

                    </div>

            </nav>
        </form>

    </div>
</section>